In [1]:
1

1

integer

In [2]:
1.0

1.0

float

In [3]:
'Hello'

'Hello'

In [4]:
"There's tea"

"There's tea"

In [5]:
'They "like" it'

'They "like" it'

In [6]:
'''Hello
Hello
Hello'''

'Hello\nHello\nHello'

In [7]:
print('''Hello
Hello
Hello''')

Hello
Hello
Hello

In [9]:
a = 1

In [10]:
print (a)

1

In [11]:
a+3

4

In [12]:
a=a+4

In [13]:
print(a)

5

In [21]:
b = 'Hello. '

In [22]:
print(b)

Hello.

In [17]:
b+1

TypeError: must be str, not int

In [18]:
c='Hello again'

In [23]:
b+c

'Hello. Hello again'

In [29]:
d=b+c

In [30]:
print(d)

Hello. Hello again

In [31]:
[1,2,3,'Hello',4]

[1, 2, 3, 'Hello', 4]

In [33]:
mylist=[1,2,3,'Hello',4]

In [34]:
print(mylist)

[1, 2, 3, 'Hello', 4]

In [36]:
mylist.append(100)

In [37]:
mylist

[1, 2, 3, 'Hello', 4, 100]

In [38]:
myitems = ['First item', 'Second item', 'Third item']

In [39]:
myitems[0]

'First item'

In [40]:
myitems[-1]

'Third item'

last element in list

In [41]:
g = [1, 2, [1,2]]

In [42]:
g[2]

[1, 2]

In [43]:
g[2][0]

1

In [44]:
g[2][1]

2

Tuples are like lists but cannot be changed

In [45]:
mytuple.append(4)

NameError: name 'mytuple' is not defined

In [46]:
mytuple = (1,2,3,4)

In [47]:
print(mytuple)

(1, 2, 3, 4)

In [48]:
world_capitals = {
    'Netherlands': 'Amsterdam',
    'Germany' : 'Berlin',
    'Italy' : 'Rome',
    'France' : 'Paris',
    'UK' : 'London',
    'US': 'Washington'
}

In [49]:
world_capitals['UK']

'London'

In [52]:
world_capitals['Brazil'] = 'Brasilia'

In [53]:
world_capitals

{'Brazil': 'Brasilia',
 'France': 'Paris',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Netherlands': 'Amsterdam',
 'UK': 'London',
 'US': 'Washington'}

In [54]:
del myitems[0]

In [55]:
myitems

['Second item', 'Third item']

In [56]:
if 'UK' in world_capitals: del world_capitals['UK']

In [57]:
world_capitals

{'Brazil': 'Brasilia',
 'France': 'Paris',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Netherlands': 'Amsterdam',
 'US': 'Washington'}

In [58]:
allupper = 'THIS TEXT IS COMPLETELY IN UPPER CASE!'

In [59]:
print(allupper)

THIS TEXT IS COMPLETELY IN UPPER CASE!

In [60]:
print(allupper.lower())

this text is completely in upper case!

In [61]:
import re

mystr = 'This is a string, with words!'
wordList = re.sub("[^\w]", " ",  mystr).split()

In [62]:
print(wordList)

['This', 'is', 'a', 'string', 'with', 'words']

First, I organised the different participants into a dictionary:

In [69]:
JohnSmith = {
    'age': 32,
    'occupation' : 'analyst at Salesforce UK',
    'children' : 1,
    'status' : 'divorced',
}

In [70]:
MarySmith = {
    'age': 21,
    'occupation' : 'UVA student',
    'country of origin' : 'US',
}

In [71]:
TomBrokaw = {
    'age': 77,
    'occupation' : 'US journalist',
    'children' : 3,
    'status' : 'married',
}

Then, I created lists with the different variables age, occupation, children, status and country of origin (I know, not the same in Python). 
Like this, participants can be found easily and the lists can be used to conduct analysis. The missing values were declared as 'None'

In [74]:
age = [32,21,77]
occupation = ['analyst at Salesforce UK','UVA student','US journalist']
children = [1,None,3]
status = ['divorced', None, 'married']
countryOfOrigin = [None,'US',None]